
@{
}

@model dynamic

<!-- Bootstrap 5 Contact Form Snippet -->

<link rel="stylesheet" href="/css/questao-page.css">

 <form asp-controller="Simulado" asp-action="selecionaQuestao" method="post">

<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">

          <!-- * * * * * * * * * * * * * *
          // * * SB Forms Contact Form * *
          // * * * * * * * * * * * * * * *

          // This form is pre-integrated with SB Forms.
          // To make this form functional, sign up at
          // https://startbootstrap.com/solution/contact-forms
          // to get an API token!
          -->

            @{

                //fazer foreach nas questoes, procurar questao pelo Model.id, criar variável,
                //passar essa questão pra variavel, e trocar os @Model.questoes[@Model.id] pela variavel

            }

            @{
                string enunciado = "";

                foreach(Questao questaoEnunciado in SessionHelper.GetObjectFromJson<List<Questao>>(Context.Session, "questoes"))
                {
                    if(questaoEnunciado.GetId() == Model.id)
                    {
                        enunciado = questaoEnunciado.GetEnunciado();
                    }
                }
            }
            

            <div class="text-center mb-1">
                <label>@enunciado</label>
            </div>

            @{
                List<SimuladoRealizado> simuladoRealizado = SessionHelper.GetObjectFromJson<List<SimuladoRealizado>>(Context.Session, "simulado");

                string alternativa = "";

                foreach(SimuladoRealizado simulado in simuladoRealizado)
                {
                    if(simulado.getIdQuestao() == Model.id)
                    {
                        if (simulado.getAlternativa() != null)
                        {
                            alternativa = simulado.getAlternativa();
                        }                        
                    }
                }
            }

            @{
                foreach(Questao questao in SessionHelper.GetObjectFromJson<List<Questao>>(Context.Session, "questoes"))
                {
                    if(questao.GetId() == Model.id)
                    {

                        if (alternativa == "A")
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaA" type="radio" name="formato" checked value="A" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaA">@questao.GetA()</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaA" type="radio" name="formato" value="A" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaA">@questao.GetA()</label>
                                </div>
                            </div>
                        }

                        if (alternativa == "B")
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaB" type="radio" name="formato" checked value="B" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaB">@questao.GetB()</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaB" type="radio" name="formato" value="B" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaB">@questao.GetB()</label>
                                </div>
                            </div>
                        }

                        if (alternativa == "C")
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaC" type="radio" name="formato" checked value="C" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaC">@questao.GetC()</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaC" type="radio" name="formato" value="C" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaC">@questao.GetC()</label>
                                </div>
                            </div>
                        }

                        if (alternativa == "D")
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaD" type="radio" name="formato" checked value="D" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaD">@questao.GetD()</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaD" type="radio" name="formato" value="D" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaD">@questao.GetD()</label>
                                </div>
                            </div>
                        }

                        if (alternativa == "E")
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaE" type="radio" name="formato" checked value="E" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaE">@questao.GetE()</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <div class="form-check form-check-inline">
                                <input class="form-check-input" id="alternativaE" type="radio" name="formato" value="E" data-sb-validations="required" />
                                <label class="form-check-label" for="alternativaE">@questao.GetE()</label>
                                </div>
                            </div>
                        }
                    }
                }
            }

            <!-- Name Input -->
            
            
            <!-- Submit button -->
            
          <!-- End of contact form -->

        </div>
      </div>
    </div>
  </div>
</div>

    <div style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;">

    
        @for(int i = 0; i < @Model.idQuestoes.Count; i++)
        {

                <button name="id" type="submit" id="submit" value="@Model.idQuestoes[i]" class="shadow-lg" 
                style="width: 70px;margin: 20px;padding: 10px;text-align: center;">@i</button>
           
        }
    
    </div>

    <div class="d-grid">
            <button name="simuladoFinalizado" value="Finalizado" formaction="simuladoFinalizado" class="btn btn-primary btn-lg" id="finalizado" type="submit">Finalizar</button>
    </div>
</form>

<!-- CDN Link to SB Forms Scripts -->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>